MINIO_ENDPOINT=http://localhost:9001
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

SPARK_MASTER=spark://localhost:7077

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=zeco_metadata
POSTGRES_USER=zeco_user
POSTGRES_PASSWORD=zeco_pass

KAFKA_BROKER=localhost:9092
AIRFLOW_URL=http://localhost:8085
STREAMLIT_URL=http://localhost:8501